# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.spec

# 🧪 PyInstaller
backend/build/
backend/dist/
backend/*.spec

# 📦 Virtualenv
.venv/
venv/
env/

# 📁 Editor & OS Files
.vscode/
*.log
.DS_Store
Thumbs.db

# ⚙️ Electron & Node
node_modules/
frontend/**/node_modules/
frontend/**/.vite/

# 📁 React & Vite build
frontend/**/dist/

# 🚫 קבצי EXE בינאריים שלא עוקבים אחריהם
frontend/electron/extra/run_server.exe
*.exe

# 🔐 Env files
*.env
.env.*

frontend/electron/extra/run_server/*
backend/temp_uploads
frontend/electron/temp_uploads
frontend/electron/extra
